#
# For a description of the syntax of this configuration file,
# see kconfig-language at https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt
#

config EXAMPLES_REDC_WIFI_CONNECTOR
	bool "REDC Wi-fi Connector"
	default n
	depends on WIFI_MANAGER
	---help---
		Enable REDC Wi-Fi Connector
